
.form-container {
	padding-top: 1.2em;
	min-height: 100vh;
}

.form-title {
	margin-bottom: 1em;
}

.form-group label {
	font-weight: bold;
}

.add-post-form, .edit-post-form {
	width: 100%;
}

.add-post-form label {
	font-weight: bold;
}

.add-post-form button {
	margin: auto;
	display: flex;
	align-self: center;
}

.error-reporting {
	color: red;
}

.register-form, .login-form {
	max-width: 60%;
	margin: auto;
}